/* Common Styles */

/* font-family: 'Poppins', sans-serif;
font-family: 'Telex', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

p {
    font-family: 'Telex', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #444343;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    color: #fff;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: #151414;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: #151414;
}

.btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: #005FAC;
    background-color: #fff;
    padding: 13px 25px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    border: 2pc solid #fff;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #005FAC;
    color: #fff;
}